.chatSection {
  width: 100%;
  height: 100%;
}

.main {
  margin: 0 10px 10px 10px;
  background-color: #29c1be;
  height: 100%;
  border-radius: 5px;
}


.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6bb32;
  border-radius: 5px;
  height: 7%;
}

.messagesArea {
  padding-top: 10px;
  width: 100%;
  height: 83%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom:10px;
}

.textInput {
  border-radius: 5px;
  height: 10%;
  background-color: yellow;
  display: flex;
  align-items: flex-end;
  overflow-y: scrollbar;
  padding-bottom: 10px;
  padding-top: 10px;
}

.textarea, .textarea:focus {
  max-height: 300px;
  margin-left: 3.3%;
  width: 80%;
  height: 52px;
  resize: none;
  border-radius: 10px;
  border: none;
  outline: none;
  overflow-y: scrollbar;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sendButton {
  height: 52px;
  margin-left: 3.3%;
  margin-right: 3.3%;
  width: 10%;
  margin-top: 0;
  border-radius: 10px;
}

.textarea::-webkit-scrollbar{
  display: none;
}

.message {
  background-color: lime;
  color: red;
  height: 50px;
  margin-top: 10px;
  width: 80%;
  margin-left: 10%;
  overflow-wrap: break-word;
}
